<!DOCTYPE html>
<html lang="tr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Etkinlik Paneli</title>
    <link rel="stylesheet" href="css/panel.css" />
  </head>

  <body>
    <main class="table">
      <section class="table__header">
        <h1>Eklenmiş tüm etkinlikler</h1>
        <div class="btns">
          <button class="btn__panel btn__calendar">Takvim'e Geç</button>
        </div>
      </section>

      <section class="table__body">
        <table>
          <thead>
            <tr>
              <th>Etkinlik Sırası</th>
              <th>Etkinlik Başlığı</th>
              <th>Etkinlik Tipi</th>
              <th>Etkinlik Tarihi</th>
              <th>Etkinlik Bitiş Tarihi</th>
              <th>Etkinlik Başlangıç Zamanı</th>
            </tr>
          </thead>

          <tbody></tbody>
        </table>
      </section>
    </main>
    <script src="js/panel.js"></script>
  </body>
</html>
